@import "variables";

// main page night them color 

%theme-day {
    
    background: $background-day-light-3;

    .sidebar {

        background-color: $background-day-light-1;
        color: $font-color-day;
        
        .search-field {

            background: inherit;
        
            font-size: 0.875rem;
            color: white; 
            
            border: none;
            border-bottom: 1px solid $border-bottom-color-day;

            caret-color: black;

        }
        
        .nav-entry-box {

            color: $nav-box-entry-color-day;

            .nav-entry{

                &:hover {
                    color: $teal-2-day-hover;
                }
            }
        }
    }

    .main {
        background: inherit;
        color: $font-color-day;
        h1, .entry-title {
            color: inherit; 
        }

        // Links in entry
        a {
            color: $blue-1;
            &:hover {
                color: $blue-2;
            }
        }
        .entry-title {

            &:hover {
                color: $blue-1;
            }
        } 

        .form-btn {
            
            background: $background-day-light-3;
            &--normal {
                color: $blue-1;
            }
            &--danger {
                color: $red-1;
            }
            
        }

        .entry-form {

            .field {
                input {

                    background: inherit;
                    color: inherit;
                }
                textarea {

                    color: inherit;
                    background: $background-day-light-2;
                }
            }  
        }
    }
}


