@import "variables";

html {
    height: 100vh;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: monospace, Helvetica, sans-serif;
    background: $background-night-dark-1;
    height: inherit;
}


code {
    white-space: pre;
}

input, textarea, button {
    &:focus {
        outline: none;
    }
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 1rem 0;
    padding: 0.5rem 0;
    border-bottom: 1px solid $border-bottom-color;
}

.row {
    align-items: stretch;
    height: 100%;
}

.outer-body {
    padding: 0;
}

.alert {
    position: relative;
    margin: 0.75rem 1.25rem;
    border-radius: 0;
    margin: 0;
    max-height: 3rem;
   

    &-error {
        color: #856404;
        background-color: #ffeeba;
        border-color: #ffeeba;
    }
    p {
        padding-left: 1rem;
        margin-bottom: 0;
    }
}

#alertMessage.out {

    transition: transform 1s ease-in-out;

    transform: translateY(-120%);
    
}

.start-transition {
    &:hover {
        transition: 0.2s ease-in-out;
    }
}