@import "variables";


// main page night them color 


%theme-night {
    
    background: $background-night-dark-1;

    .sidebar {
        background-color: $background-night-dark-3;
        color: $font-color-night;
        
        .search-field {
            background: inherit;
        
            font-size: 0.875rem;
            color: white;
            
            border: none;
            border-bottom: 1px solid $border-bottom-color-night;

            caret-color: white;

        }
        
        .nav-entry-box {
            color: $nav-box-entry-color-night;
            .nav-entry{
                &:hover {
                    color: $brown-yellow-1;
                }
            }
        }
    }

    .main {

        background: inherit;
        color: $font-color-night;
        
        h1, .entry-title {
            color: inherit; 
        }

        // Links in entry
        a {
            color: $brown-yellow-1;
            &:hover {
                color: $brown-yellow-2
            }
        }
        .entry-title {

            color: $brown-yellow-1;

            &:hover {
                color: $teal-1;
            }
        } 

        .form-btn {
            
            background: $background-night-dark-3;
            &--normal {
                color: $teal-1;
            }
            &--danger {
                color: $red-1;
            }
            
        }

        .entry-form {

            .field {
                input {

                    background: inherit;
                    color: inherit;
                }
                textarea {

                    color: inherit;
                    background: $background-night-dark-2;
                }
                
            }
            
        }
    }
    
}

