/* Globals */
/* Toggle btn color */
/* Night theme */
/* Day theme */
body {
  margin: 0;
  font-family: monospace, Helvetica, sans-serif;
  height: 100vh;
  background: #383838;
}

code {
  white-space: pre;
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem 0;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(79, 79, 79, 0.5);
}

.row {
  align-items: stretch;
  height: 100%;
}

.outer-body {
  padding: 0;
}

.alert {
  position: relative;
  margin: 0.75rem 1.25rem;
  border-radius: 0;
  margin: 0;
  max-height: 3rem;
}
.alert-error {
  color: #856404;
  background-color: #ffeeba;
  border-color: #ffeeba;
}
.alert p {
  padding-left: 1rem;
  margin-bottom: 0;
}

#alertMessage.out {
  transition: transform 1s ease-in-out;
  transform: translateY(-120%);
}

.start-transition:hover {
  transition: 0.2s ease-in-out;
}

/* Globals */
/* Toggle btn color */
/* Night theme */
/* Day theme */
/* Globals */
/* Toggle btn color */
/* Night theme */
/* Day theme */
body.night {
  background: #383838;
}
body.night .sidebar {
  background-color: #202020;
  color: rgba(233, 233, 233, 0.818);
}
body.night .sidebar .search-field {
  background: inherit;
  font-size: 0.875rem;
  color: white;
  border: none;
  border-bottom: 1px solid rgba(183, 178, 178, 0.915);
  caret-color: white;
}
body.night .sidebar .nav-entry-box {
  color: rgba(251, 251, 251, 0.807);
}
body.night .sidebar .nav-entry-box .nav-entry:hover {
  color: rgb(238, 196, 113);
}
body.night .main {
  background: inherit;
  color: rgba(233, 233, 233, 0.818);
}
body.night .main h1, body.night .main .entry-title {
  color: inherit;
}
body.night .main a {
  color: rgb(238, 196, 113);
}
body.night .main a:hover {
  color: #856404;
}
body.night .main .entry-title {
  color: rgb(238, 196, 113);
}
body.night .main .entry-title:hover {
  color: teal;
}
body.night .main .form-btn {
  background: #202020;
}
body.night .main .form-btn--normal {
  color: teal;
}
body.night .main .form-btn--danger {
  color: rgb(255, 79, 79);
}
body.night .main .entry-form .field input {
  background: inherit;
  color: inherit;
}
body.night .main .entry-form .field textarea {
  color: inherit;
  background: rgba(49, 49, 49, 0.6941176471);
}

/* Globals */
/* Toggle btn color */
/* Night theme */
/* Day theme */
body.day {
  background: #f0f0f0;
}
body.day .sidebar {
  background-color: #d9d9d9;
  color: rgba(33, 33, 33, 0.818);
}
body.day .sidebar .search-field {
  background: inherit;
  font-size: 0.875rem;
  color: white;
  border: none;
  border-bottom: 1px solid rgba(117, 112, 112, 0.915);
  caret-color: black;
}
body.day .sidebar .nav-entry-box {
  color: rgba(50, 50, 50, 0.807);
}
body.day .sidebar .nav-entry-box .nav-entry:hover {
  color: rgb(41, 156, 121);
}
body.day .main {
  background: inherit;
  color: rgba(33, 33, 33, 0.818);
}
body.day .main h1, body.day .main .entry-title {
  color: inherit;
}
body.day .main a {
  color: rgb(51, 165, 226);
}
body.day .main a:hover {
  color: rgb(16, 125, 184);
}
body.day .main .entry-title:hover {
  color: rgb(51, 165, 226);
}
body.day .main .form-btn {
  background: #f0f0f0;
}
body.day .main .form-btn--normal {
  color: rgb(51, 165, 226);
}
body.day .main .form-btn--danger {
  color: rgb(255, 79, 79);
}
body.day .main .entry-form .field input {
  background: inherit;
  color: inherit;
}
body.day .main .entry-form .field textarea {
  color: inherit;
  background: #e6e6e6;
}

/* Globals */
/* Toggle btn color */
/* Night theme */
/* Day theme */
ion-icon {
  --ionicon-stroke-width: 40px;
  font-size: 28px;
  transition: transform 0.6s cubic-bezier(0.66, -0.64, 0.33, 1.5), opacity 0.4s linear, color 0.4s linear;
}

body .toggle-wrapper {
  width: 80px;
  height: 30px;
  padding: 0px 15px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) -2px 15px 25px -5px;
  position: relative;
}
body .toggle-wrapper:before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: right 0.6s cubic-bezier(0.84, -0.89, 0.05, 1.97), backgroundColor 0.2s linear, border 0.2s linear;
  z-index: 10;
}
body .planet {
  width: 1rem;
  height: 1rem;
}

body.day .toggle-wrapper {
  background-color: white;
  border: solid 3px #E4E7EC;
}
body.day .toggle-wrapper:before {
  right: 15px;
  background-color: #FFECCF;
  border: solid 4px #FFBB52;
}
body.day .sun {
  color: #FFBB52;
  transform: rotate(90deg);
}
body.day .moon {
  opacity: 0;
  transform: rotate(45deg);
}

body.night .toggle-wrapper {
  background-color: #374151;
  border: solid 3px #485365;
}
body.night .toggle-wrapper:before {
  right: 47px;
  background-color: #485365;
  border: solid 4px white;
}
body.night .sun {
  opacity: 0;
  transform: rotate(0deg) translateX(5px);
}
body.night .moon {
  opacity: 1;
  color: white;
  transform: rotate(0deg);
}

body.day {
  --background: italic;
}

body.night {
  --background: bold;
}

body .sidebar {
  padding-right: 0.25rem;
  z-index: 10;
}
body .sidebar .nav-container {
  padding: 1rem 0.75rem 1rem 0.75rem;
}
body .sidebar .nav-container .toggle-btn-container {
  display: flex;
  justify-content: flex-end;
}
body .sidebar .nav-container h2 {
  font-weight: 700;
  font-size: 3rem;
  margin-top: 5px;
}
body .sidebar .nav-container .search-field {
  color: inherit;
  font-size: 0.875rem;
  background: inherit;
  width: 100%;
  padding: 0.125rem 0 0.125rem 0.25rem;
}
body .sidebar .nav-container .search-field::-moz-placeholder {
  font-style: italic;
}
body .sidebar .nav-container .search-field::placeholder {
  font-style: italic;
}
body .sidebar .nav-container .nav-entry-box {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
body .sidebar .nav-container .nav-entry-box .nav-entry {
  margin-bottom: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
body .sidebar .nav-container .nav-entry-box .nav-entry:hover {
  cursor: pointer;
  transform: scale(1.05);
}
body .sidebar .nav-container .nav-entry-box .nav-entry a {
  color: inherit;
  text-decoration: none;
}
body .main {
  padding: 0.8rem 2rem;
  height: 100%;
}
body .main .entry-body-container a {
  font-weight: bold;
}
body .main .entry-list-container {
  display: flex;
  flex-direction: column;
}
body .main .entry-list-container .entry-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
body .main .entry-list-container .entry-title a {
  color: inherit;
  text-decoration: none;
}
body .main .entry-list-container .entry-title:hover {
  font-weight: bold;
  transform: translateX(-10px);
}
body .main .form-container {
  margin-top: 1rem;
}
body .main .form-container .field {
  margin-bottom: 0.5rem;
}
body .main .form-container .field__title input {
  font-size: 2rem;
  width: calc(100% - 15rem);
  border: none;
  border-bottom: 1px solid rgba(79, 79, 79, 0.5);
}
body .main .form-container .field__title input::-moz-placeholder {
  font-style: italic;
}
body .main .form-container .field__title input::placeholder {
  font-style: italic;
}
body .main .form-container .field__content textarea {
  height: 80vh;
  width: 90%;
  padding: 1rem;
  border-radius: 15px;
}
body .main .btn-container--entry {
  text-align: end;
}
body .main .btn-container .form-btn {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}
body .main .btn-container .form-btn--normal:hover {
  background-color: rgb(51, 165, 226);
  font-weight: 700;
  color: rgb(252, 252, 252);
  border-color: rgb(16, 125, 184);
}
body .main .btn-container .form-btn--danger {
  margin-left: 1rem;
}
body .main .btn-container .form-btn--danger:hover {
  background-color: rgb(255, 79, 79);
  font-weight: 700;
  color: rgb(252, 252, 252);
  border-color: rgb(16, 125, 184);
}
body .main .no-results-message {
  font-size: 2rem;
}/*# sourceMappingURL=styles.css.map */