{% extends "encyclopedia/layout.html" %}
{% load markdown_filters %}

{% block title %}
    {{ entry_title }}
{% endblock %}

{% block body %}
    
    <div class="entry-container" >

        <div class="btn-container btn-container--entry">
            <form method="post">
                {% csrf_token %}
                <button 
                    class="form-btn form-btn--normal" 
                    name="edit" 
                    aria-label="transition-btn"
                >
                    Edit
                </button>
                <button 
                    class="form-btn form-btn--danger" 
                    id="deleteEntry" 
                    name="delete" 
                    aria-label="transition-btn"
                >
                    Delete
                 </button>
            </form>    
        </div>
        
        <div class="entry-body-container">
            {{ content|markdown_to_html|safe }}
        </div>

    </div>
   

    
{% endblock %}