{% extends "encyclopedia/layout.html" %}
{% load markdown_filters %}

{% block title %}
    {{ entry_title }}
{% endblock %}

{% block body %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <div>
        <form method="post">
            {% csrf_token %}
            <button name="edit" value="{{ entry_title }}">Edit Page</button>
            <button id="deleteEntry" name="delete" value="{{ entry_title }}">Delete Page</button>
        </form>
    </div>
    <div class="entry-body-container">
        {{ content|markdown_to_html|safe }}
    </div>
    
{% endblock %}