{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/css/styles.css' %}" rel="stylesheet">
        <script src="{% static 'encyclopedia/js/script.js' %}" defer></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body id="theme" class="">
        <div class="row stretch">
            <div class="sidebar col-lg-2 col-md-3">
                <div class="nav-container">

                    <div class="toggle-btn-container">
                        <div class="toggle-wrapper">
                            <ion-icon name="sunny-outline" class="planet sun"></ion-icon>
                            <ion-icon name="moon-outline" class="planet moon"></ion-icon>
                        </div>
                    </div>

                    <h2 id="wiki">Wiki</h2>
                    <form action="{% url 'results' %}">
                        <input class="search-field" type="text" name="q" placeholder="Search Encyclopedia">
                    </form>
                    <div class="nav-entry-box entry-list-container">

                        <div class="nav-entry" aria-label="transition-btn">
                            <a href="{% url 'index' %}">Home</a>
                        </div>
                        <div class="nav-entry" aria-label="transition-btn">
                            <a href="{% url 'new_page' %}">Create New Page</a>
                        </div>
                        <div class="nav-entry" aria-label="transition-btn">
                            <a href="{% url 'random' %}">Random Page</a>
                        </div>

                    </div>   
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            
            <div class="outer-body col-lg-10 col-md-9">

                {% if messages %}
                    {% for message in messages %}
                        <div id="alertMessage" {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                            <p >{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="main  pl-5">
                    {% block body %}
                    {% endblock %}
                </div>
                
            </div>
                
        </div>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>