{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}


{% block body %}

    
    <div class="form-container">
        <form class="entry-form" method="post">
            {% csrf_token %}
            
            <div class="field field__title">
                {{ form.title }}
            </div>

            <div class="field field__content">
                {{ form.content }}
            </div>
            
            <div class="btn-container">
                <button class="form-btn form-btn--normal" type="submit">Create Entry</button>
            </div>
            
        </form>
    </div>
    
    
{% endblock %}